body{
    background-color: orange;
  
}


.head{
    color: darkblue;
}


#bglime{
    background-color: lime;
}

h2>span{
    color: red;
}

p{
    color: white;
}

#para{
    color: green;
}

p>span{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#upskill{
    background-color: yellow;
}

#google{
    background-color: purple;
}

ul{
    color: white;
}

ol>span>li{
    color: blue;
}